.home_img {
    width: 200px;
    height: 200px !important;
}


/**********Home page pagination *************/

.pager .active a {
    margin: 5px;
    background-color: #000;
    color: #fff;
}

.pager .active a:hover {
    background-color: #000;
    color: #fff;
}


